.dashboard {
  background-image: url("/images/Wallpaper.png");
  background-size: 100% 100%;
  position: relative;
}

 /* Icon Color CSS */

.icon-color{
  color: var(--color-white);
}

.Ad-iconcolor{
  color: var(--color-light-black);
}

 /* Clock CSS */

.dashboard .clock {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 /* Sidebar CSS */

.dashboard .sidebar {
  background-color: rgb(186, 180, 180);
  position: absolute;
  top: 35%;
  right: 15px;
}

 /* Administrator CSS */

.dashboard .Administrator {
  width: 500px;
  position: absolute;
  border-radius: 20px;
  right: 90px;
  bottom: 70px;
  background: var( --bg-linear-gradient);
  box-shadow: var(--box-shadow)
}

.user-info h1 {
  text-decoration-thickness: 3px;
  text-decoration-color: var(--color-dark-yellow);
}

.features-list ul li:hover a {
  font-weight: 600;
  text-decoration: underline solid var(--color-dark-yellow) 15%;
  text-underline-position: under;
}

.features-list ul li:hover i {
  color: var(--color-dark-yellow);
}

 /* Notification CSS */

.dashboard .Notification {
  width: 300px;
  position: absolute;
  right: 80px;
  top: 50px;
  border-radius: 20px;
  background: var( --bg-linear-gradient);
  box-shadow: var(--box-shadow)
}

 /* Search Input CSS */

.dashboard .Search {
  position: fixed;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.search-input {
  z-index: 9999;
  width: 600px;
  background: var(--bg-linear-gradient);
  box-shadow: var(--box-shadow)
}

.searchdata {
  background: var(--bg-linear-gradient);
  box-shadow: var(--box-shadow);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search-icon {
  left: 10px;
  top: 14px;
}

.cross-icon {
  right: 20px;
  top: 14px;
  cursor: pointer;
}

#suggestions.empty {
  max-height: 0; 
  padding: 0;
}


 /* File hover css */

.dashboard .tooltip {
  position: absolute;
  width: 220px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  background-color: var(--color-dark-yellow);
  left: 30px;
  bottom: 60px;
  z-index: 999;
  display: none;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid transparent;
  border-bottom: 20px solid transparent;
  border-bottom-right-radius: 90%;
  left: 40px;
  bottom: -5px;
  background-color: var(--color-dark-yellow);
}

.bubble-content {
  padding: 30px;
}

.bubble-content h1 {
  font-size: 2vw;
  font-weight: 500;
}

.bubble-content p {
  font-size: 1vw;
}

 /* footer css */

footer {
  background-color: rgba(255, 255, 255, 0.648);
  height: 60px;
}

#footerButton{
  color: var(--color-pure-black);
}

#footerButton:hover{
  background-color: var(--color-pure-black);
  color: var(--color-white);
}

.refresh {
  width: 4px;
  height: 27px;
  border-radius: 3px;
  background: rgba(198, 198, 198, 0.764);
  box-shadow: var(--box-shadow), var(--box-shadow) inset;
}

/* desktop tab */

.desktop-sidebar {
  height: calc(100% - 60px);
}

.sidebar-content {
  height: calc(100% - 80px);
  background-image: url("/images/Rectanglebg.png");
}

.desktop-apps {
  height: calc(100% - 108px);
}

/* Right click Menu css */

.context-menu {
  position: absolute;
  z-index: 1000;
  width: 200px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.context-menu ul li{
  position: relative;
}

.context-menu ul li a {
  text-decoration: none;
  color: var(--color-light-gray);
  display: block;
  padding: 8px 10px;
}
.context-menu ul li:hover {
  background: var(--color-dark-yellow);
}

.context-menu ul li:hover > .submenu {
  display: block;
}

.context-menu ul li a{
  color: var(--color-light-gray);
  font-size: var(--font-weight-400);
  font-size: var(--font-size-14);
}

.submenu {
  position: absolute;
  width: 200px;
  left: 100%;
  background-color: var(--color-white);
}

.menu-sidename{
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-400);
  color: var(--color-medium-gray);
}

.newfile-submenu {
  top: 30%;
}

.sortby-submenu {
  top: 40%;
}

.iconsize-submenu {
  top: 50%;
}

.more-submenu {
  top: 60%;
}

.open-submenu {
  top: 10%;
  width: 250px;
}

 /* Desktop Hover css */

.app:hover {
  background-color: var(--color-light-gray);
}

.app:hover .app-tools {
  visibility: visible;
}


