.bg-c-black {
    background: var(--color-light-gray);
}
.bg-c-yellow {
    background: var(--color-dark-yellow);
}
.bg-c-light-black {
    background: var(--color-light-black);
}
.bg-c-gray-2 {
    background: var(--color-gray-2);
}
.bg-c-dark-gray {
    background: var(--color-dark-gray);
}
.text-c-black {
    color: var(--color-light-gray);
}
.text-c-yellow {
    color: var(--color-dark-yellow);
}
.hover-text-c-yellow:hover {
    color: var(--color-dark-yellow);
}
.hover-bg-c-black:hover {
    background: var(--color-light-gray);
}
.hover-bg-c-yellow:hover {
    background: var(--color-dark-yellow);
}

body.nx {
    overflow-x: hidden;
}

.nx .main {
    background: url('/images/main-bg.png');
    background-size: cover;
    background-position: center;
    overflow: scroll;
}

.nx .taskbar {
    background: url('/images/taskbar-bg.svg');
    background-size: cover;
    background-position: center;
}

.nx footer {
    background: url('/images/footer-bg.png');
    background-size: cover;
    background-position: center;
}

.nx div[role="dialog"] {
    padding: 20px 10px;
}
.nx div[role="dialog"] .modal-content {
    max-height: 90vh;
    overflow: scroll;
}

.nx div[role="dialog"] .modal-content::-webkit-scrollbar,
.nx .main::-webkit-scrollbar,
.nx-table-container::-webkit-scrollbar {
    display: none;
}

.nx-table-container {
    overflow-y: scroll;
}
.nx-table-container table {
    min-width: 1000px;
}
.nx .main .content {
    min-width: 420px;
}

.nx .toggle-bg {
    background: var(--color-dark-gray);
}
.nx .toggle-switch input:checked~.dot {
    transform: translateX(130%);
}
.nx .toggle-switch input:checked~ .toggle-bg{
    background: var(--color-dark-yellow);
}
.nx .dropdown-option {
    display: none;
}
.nx .dropdown-btn:focus ~ .dropdown-option,
.dropdown-option:hover {
    display: block;
}

.nx .radio-button input {
    display: none;
}
.nx .radio-button span {
    width: 80px;
}
.nx .radio-button input:checked ~ span {
    background: #FFD700;
    color: #000;
}

