.bg-c-black {
  background: var(--color-light-gray);
}

.bg-c-yellow {
  background: var(--color-dark-yellow);
}

.bg-c-light-black {
  background: var(--color-light-black);
}

.bg-c-light-black1 {
  background: var(--color-light-black1);
}

.bg-c-light-blue {
  background: var(--color-light-blue);
}

.bg-c-light-pink {
  background: var(--color-light-pink);
}

.bg-c-gray-2 {
  background: var(--color-gray-2);
}

.bg-c-gray-3 {
  background: var(--color-gray);
}

.bg-c-gray-4 {
  background: var(--color-gray-4);
}

.bg-c-dark-gray {
  background: var(--color-dark-gray);
}

.bg-c-gray-3 {
  background: var(--color-gray);
}

.bg-c-gray-gradient {
  background: var(--bg-gray-gradient);
}

.bg-c-white {
  background: var(--color-white);
}

.bg-c-light-white {
  background: var(--color-light-white);
}

.bg-c-light-white-smoke {
  background: var(--color-light-white-smoke);
}

.bg-c-light-gray {
  background: var(--color-light-gray);
}

.bg-c-lighten-gray {
  background: var(--color-lighten-gray);
}

.bg-c-lightest-gray {
  background: var(--color-lightest-gray);
}

.bg-c-creame-yellow {
  background: var(--color-creame-yellow);
}

.bg-c-green {
  background: var(--color-green);
}

.text-c-black {
  color: var(--color-light-gray);
}

.text-dark-black {
  color: var(--color-pure-black);
}

.text-c-gray-opaque {
  color: var(--color-gray-opaque);
}

.text-c-white {
  color: var(--color-white);
}

.text-c-yellow {
  color: var(--color-dark-yellow);
}

.text-link-blue {
  color: var(--color-link-blue);
}

.text-c-sky {
  color: var(--color-light-sky);
}

.text-c-green {
  color: var(--color-green);
}

.text-c-light-black {
  color: var(--color-light-black);
}

.text-c-light-gray {
  color: var(--color-light-gray);
}

.text-c-gray-2 {
  color: var(--color-gray-2);
}

.text-c-dark-gray {
  color: var(--color-dark-gray);
}

.text-c-medium-gray {
  color: var(--color-medium-gray);
}

.text-c-dark-red {
  color: var(--color-dark-red);
}

.text-c-light-white {
  color: var(--color-light-white);
}

.hover-text-c-yellow:hover {
  color: var(--color-dark-yellow);
}

.hover-bg-c-black:hover {
  background: var(--color-light-gray);
}

.hover-bg-c-yellow:hover,
.hover-bg-c-yellow:focus {
  background: var(--color-dark-yellow);
}

.hover-border-c-yellow:hover,
.hover-border-c-yellow:focus,
.hover-border-c-yellow:active {
  border-color: var(--color-dark-yellow);
}

.border-c-yellow {
  border-color: var(--color-dark-yellow);
}

.border-c-sky {
  border-color: var(--color-light-sky);
}

.border-c-light-blue {
  border-color: var(--color-light-blue);
}

.border-c-gray-opaque {
  border-color: var(--color-gray-opaque);
}

.border-c-dark-gray-opaque {
  border-color: var(--color-dark-gray-opaque);
}

.border-c-medium-gray {
  border-color: var(--color-medium-gray);
}

.border-c-light-black {
  border-color: var(--color-light-black);
}

.border-c-gray {
  border-color: var(--color-gray);
}

.border-c-light-gray {
  border-color: var(--color-light-gray);
}

.border-c-light-gray1 {
  border-color: var(--color-light-gray1);
}

.border-gray-3 {
  border-color: var(--color-gray-3);
}

.border-c-silver-gray {
  border-color: var(--color-silver-gray);
}

.font-size-24 {
  font-size: var(--font-size-24);
}

.font-size-20 {
  font-size: var(--font-size-20);
}

.font-size-16 {
  font-size: var(--font-size-16);
}

.font-size-14 {
  font-size: var(--font-size-14);
}

.font-size-18 {
  font-size: var(--font-size-18);
}

.font-weight-500 {
  font-weight: var(--font-weight-500);
}

/* common css for all pages*/
.fm {
  color: var(--color-light-gray);
  overflow-x: hidden;
}

.fm .main {
  background: url("/images/main-bg.png");
  background-size: cover;
  background-position: center;
  overflow: scroll;
}

.fm .taskbar {
  background: radial-gradient(
    circle,
    rgba(255, 228, 63, 1) 0%,
    rgba(253, 224, 50, 1) 35%,
    rgba(246, 190, 49, 1) 80%
  );
}

.fm .main .content {
  min-width: 320px;
}

@media (width > 768px) {
  .fm .main {
    /* max-height: calc(100vh - 60px); */
    max-height: calc(100vh);
  }
}

@media (width < 767.98px) {
  .fm .main {
    /* max-height: calc(100vh - 45px); */
    max-height: calc(100vh);
  }
}

/* scroll-y for every page */
.fm .scroll::-webkit-scrollbar {
  width: 4px;
}

.fm .scroll::-webkit-scrollbar-track {
  background: transparent;
}

.fm .scroll::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.54);
  border-radius: 10px;
}

/* scroll-x for every page */
.fm .scroll-x::-webkit-scrollbar {
  height: 2px;
}

.fm .scroll-x::-webkit-scrollbar-track {
  background: transparent;
}

.fm .scroll-x::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.54);
  border-radius: 10px;
}

/* css for popups*/
.fm div[role="dialog"] {
  padding: 20px 10px;
}

.fm div[role="dialog"] .modal-content {
  max-height: 90vh;
}

.fm div[role="dialog"] .modal-content::-webkit-scrollbar,
.fm .main::-webkit-scrollbar,
.cs-table-container::-webkit-scrollbar,
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (width < 768px) {
  .cs-table-container {
    overflow-y: scroll;
    overflow-x: scroll;
  }

  .cs-table-container table {
    min-width: 1000px;
  }
}

/* css for toggle button*/
.fm .toggle-bg {
  background: #dcdcdc;
  border: 1px solid var(--border-light-gray);
}

.fm .toggle-switch input:checked ~ .dot {
  transform: translateX(118%);
  background: #f9f9f9;
}

.fm .toggle-switch input:checked ~ .toggle-bg {
  background: var(--color-dark-yellow);
}

/* css for tooltip*/
.fm .tooltip {
  display: none;
}

.fm .has-tooltip:hover ~ .tooltip {
  display: block;
}

/* tab css used in storage-file page */
.fm .tab-control {
  border-top: 2px solid transparent;
}

.fm .tab-control.active {
  border-color: var(--color-dark-yellow);
  font-weight: bold;
}

.fm .tab-content {
  display: none;
}

.fm .tab-content.active {
  display: block;
}

.fm .tab-underline {
  background-color: var(--color-dark-yellow);
  /* Yellow-300 */
  height: 4px;
  border-radius: 9999px;
  /* Full rounded corners */
  bottom: -6px;
}

.fm .tab-active {
  color: var(--color-light-gray);
  /* Yellow-300 */
  font-weight: 500;
}

/* no dark outline on input focus */
.fm input:focus,
.fm textarea:focus,
.fm select:focus {
  outline: none;
}

/* checkbox with yellow border */
.fm input[type="checkbox"].c-checkbox {
  accent-color: var(--color-dark-yellow);
}

.fm input[type="checkbox"].c-checkbox {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  padding: 0.1rem;
  width: 16px;
  cursor: pointer;
  position: relative;
  height: 16px;
  border: 2px solid var(--color-dark-yellow);
  border-radius: 2px;
  flex-shrink: 0;
  /* Prevent shrinking */
}

.fm input[type="checkbox"].c-checkbox:checked::after {
  content: "\2713";
  font-size: 12px;
  position: absolute;
  height: 12px;
  top: -2.5px;
  left: 2px;
  font-weight: 600;
}

@media (max-width: 480px) {
  .fm input[type="checkbox"].d-checkbox:checked::after {
    top: -4px;
  }
}

/* dropdown used in action of document permission page*/
.fm .dropdown-option {
  display: none;
  background-color: #f9f9f9;
}

.fm .dropdown-btn:focus ~ .dropdown-option,
.dropdown-option:hover {
  display: block;
}

/* resizable sidebar used in filemanager and word document page */
.fm .resizable-sidebar {
  position: fixed;
  top: 11.4rem;
  right: 1.1rem;
  max-height: 100vh;
  bottom: 0;
  background-color: #f9f9f9;
}

.fm .resizable-sidebar .resizer {
  width: 3px;
  height: 100%;
  background-color: #d1d5db;
  cursor: ew-resize;
  position: absolute;
  top: 0;
  left: -2.5px;
}

@media (max-width: 768px) {
  .fm .resizable-sidebar {
    width: 92% !important;
    top: 10.5rem;
  }
}

/* custom buttons and dropdown used in file share and user&group page */
.fm .custom-safety-btn {
  background-color: var(--color-lighten-gray);
  border: 0.8px solid var(--color-light-black);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.fm .custom-safety-btn:hover {
  border-color: var(--color-dark-yellow);
}

.fm .custom-bg-hover:hover {
  background: var(--color-dark-yellow);
  color: var(--color-pure-black);
}

.fm .custom-dropdown-menu {
  border-radius: 5px;
  border: 1px solid rgba(104, 134, 134, 0.53);
  background: var(--color-lighten-gray);
  margin-top: 1px;
  width: 11.7rem;
}

.fm .dropdown:hover .dropdown-menu {
  display: block;
  z-index: 1;
}

/* responsive taskbar in filemanager and popup in user&group page*/
@media (width < 400px) {
  .fm .title {
    width: 33.333333%;
  }

  .fm .subcontent {
    width: 66.666667%;
  }

  .fm .maintitle,
  .fm .textsize {
    font-size: 12px;
  }

  .fm .flex-responsive {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .fm .search {
    /* max-height: calc(100vh - 45px); */
    display: none;
  }

  .fm .taskicon {
    /* max-height: calc(100vh - 45px); */
    width: 13.5rem;
  }

  .fm .searchicon {
    padding: 8px;
  }
}

@media (width > 400px) {
  .fm .title {
    width: 25%;
  }

  .fm .subcontent {
    width: 75%;
  }

  .fm .maintitle {
    font-size: 16px;
  }

  .fm .textsize {
    font-size: 14px;
  }
}

/* overlay height in filemanager page */
.fm .overlay-height {
  height: calc(100% - 45px);
}

/* nodata image container height in file share page */
.fm .nodata {
  height: 50vh;
}

/********** iframe css for filemanager page **********/
.fm .w-22 {
  width: 8rem;
}

.fm .dropzone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  height: 50vh;
  /* Adjust height to fill the popup */
  overflow-y: auto;
  /* Enable vertical scrolling if content overflows */
}

.fm .dropzone.dragover {
  background-color: #e2e8f0;
}

.fm #popupuploadfiles {
  display: none;
}

.fm .popup {
  width: 9rem;
  height: 2.3rem;
  /* Adjust width as needed */
  /* z-index: 999999;  Ensure  popup is above other content*/
}

.fm .bookshelf {
  background-image: url("/public/images/appshelf.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30rem 3.5rem;
}

.fm .mainiframeiconheader {
  z-index: 999999;
}

.fm .disabledicon {
  opacity: 0.5;
  pointer-events: none;
}

.fm .popup-header,
.popup-buttons {
  padding-bottom: 1rem;
}

.fm .scroll-content {
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  /* Optional: smooth scrolling on iOS
}
.scrollbar-hidden {
    scrollbar-width: none; /* Hide the scrollbar for Firefox */
}

.fm .scrollbar-hidden::-webkit-scrollbar {
  display: none;
  /* Hide the scrollbar for WebKit browsers (Chrome, Safari, etc.) */
}

.fm .popupiframe {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  width: 80%;
  /* Adjust width as needed */
  height: 80%;
  /* Fixed height */
  overflow: auto;
  /* Enable scrolling if content overflows */
}

.fm .popupiframe-content {
  padding: 10px;
}

.fm .popupiframe-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.fm .popupiframe-header i {
  cursor: pointer;
}

.fm .popupiframe iframe {
  width: 100%;
  height: 93.2%;
  border: none;
}

/*  .triangle {*/
/*  width: 0;*/
/*  height: 0;*/
/*  border-style: solid;*/
/*}*/
/*.triangle-up {/
/*  border-width: 0 10px 17.32px 10px;*/
/*  border-color: transparent transparent red transparent;*/
/*}*/

.fm .maximized {
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  transform: none !important;
}

.fm .triangle-btn {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid transparent;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transform: translateY(-50%);
}

.fm .desktopapp-clicked {
  border-radius: 5px;
  background: #fdfdfd3d;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: relative;
  flex-direction: column;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.fm .mention-textbox::-webkit-scrollbar,
.fm .mention-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.fm .mention-textbox,
.fm .mention-list {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
