
/* ***************** This CSS for Desktop page ********************** */

.dashboard {
    background-image: url("/images/Wallpaper.png");
    background-size: 100% 100%;
    background-position: center;
    position: relative;
}

/* Icon color */

.icon-color {
    color: var(--color-white);
}

.Ad-iconcolor {
    color: var(--color-light-black);
}

/* Navbar */

.dashboard .navbar {
    background: rgb(138, 131, 125);
    background: linear-gradient(90deg,
            rgba(138, 131, 125, 1) 8%,
            rgba(174, 160, 148, 1) 39%,
            rgba(196, 174, 161, 1) 60%);
    border-bottom: 1px solid #978a82;
    -webkit-box-shadow: 0px 1px 18px -6px rgba(189, 170, 157, 0.7);
    -moz-box-shadow: 0px 1px 18px -6px rgba(189, 170, 157, 0.7);
    box-shadow: 0px 1px 18px -6px rgba(189, 170, 157, 0.7);
}

/* Desktop apps */

.desktopapps-div {
    height: calc(100% - 48px);
}

.app:hover {
    border-radius: 5px;
    background: #fdfdfd3d;
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.app:hover .app-tools {
    visibility: visible;
}

/* Right click Menu */

.context-menu {
    position: absolute;
    z-index: 1000;
    min-width: 200px;
    border: 1px solid var(--color-gray-2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.context-menu ul {
    list-style: none;
    padding: 5px 3px;
    margin: 0;
}

.context-menu ul li {
    position: relative;
}

.context-menu ul li a {
    text-decoration: none;
    color: var(--color-light-gray);
    display: block;
    padding: 8px 10px;
}

.context-menu ul li:hover {
    background: var(--color-dark-yellow);
    border-radius: 5px;
}

.context-menu ul li:hover>.submenu {
    display: block;
}

.context-menu ul li a {
    color: var(--color-light-gray);
    font-size: var(--font-weight-400);
    font-size: var(--font-size-14);
}

.submenu {
    position: absolute;
    min-width: 200px;
    top: -10%;
    left: 100%;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.menu-sidename {
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-400);
    color: var(--color-medium-gray);
}

.open-submenu {
    min-width: 250px;
}

/* Clock */

.dashboard .clock {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Search Input */

.dashboard .Search {
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 90%;
    max-width: 600px;
    background: var(--bg-linear-gradient);
    box-shadow: var(--box-shadow);
    border-radius: 20px;
}

.Search.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}

.row {
    display: flex;
    align-items: center;
    padding: 10px 50px;
}

.row input {
    flex: 1;
    height: 30px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 16px;
}

.searchdata {
    position: absolute;
    width: 100%;
    background: var(--bg-linear-gradient);
    box-shadow: var(--box-shadow);
    border-top: 1px solid var(--border-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow-y: auto;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.search-icon {
    left: 16px;
    top: 12px;
}

.cross-icon {
    right: 20px;
    top: 12px;
    cursor: pointer;
}

/* Sidebar */

.dashboard .dashboard-sidebar {
    border-radius: 24px;
    background: #c6c6c660;
    position: absolute;
    top: 35%;
    right: 30px;
}

/* Notification */

.dashboard .Notification {
    width: 90%;
    max-width: 400px;
    border-radius: 20px;
    background: var(--color-lighten-gray);
    box-shadow: var(--box-shadow);
    z-index: 99;
}

.Notification .scrollbar-div::-webkit-scrollbar {
    display: none;
}

/* Administrator */

.dashboard .Administrator {
    width: 90%;
    max-width: 500px;
    border-radius: 20px;
    background: var(--bg-linear-gradient);
    box-shadow: var(--box-shadow);
}

.user-info h1 {
    font-size: 25px;
    line-height: 1;
}

.features-list ul li:hover a {
    font-weight: 600;
    text-decoration: underline solid var(--color-dark-yellow) 15%;
    text-underline-position: under;
}

.features-list ul li:hover i {
    color: var(--color-dark-yellow);
}

/* Text scroll css */

.input-wrapper {
    position: relative;
    display: inline-block;
}

.input-wrapper input[type="text"] {
    display: none;
}

.input-wrapper .text-display {
    display: block;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.input-wrapper .text-display:focus-within {
    display: none;
}

.input-wrapper input[type="text"] {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

.appinputtext {
    border: none;
    background: transparent;
}

/* Input checkbox css */

.cs .app-tools input[type="checkbox"] {
    accent-color: var(--color-dark-yellow);
}

.cs .app-tools input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.1rem;
    width: 12px;
    cursor: pointer;
    position: relative;
    height: 12px;
    border: 1px solid var(--color-pure-black);
    border-radius: 2px;
}

.cs .app-tools input[type="checkbox"]:checked {
    background-color: rgba(217, 217, 217, 0.41);
}

.cs .app-tools input[type="checkbox"]:checked::after {
    content: "✔";
    font-size: 10px;
    position: absolute;
    height: 12px;
    top: -2px;
    left: 1px;
}

@media (max-width:900px) {
    .dashboard .clock {
        top: 28px;
        left: 70px;
        align-items: start;
        gap: 0px;
    }

    .clock .time {
        font-size: 2vw;
        line-height: 0.5;
    }

    .clock .date {
        font-size: 1.5vw;
    }
}

@media (max-width:480px) {
    .cs .app-tools input[type="checkbox"]:checked::after {
        content: "\2713";
        font-size: 11px;
        position: absolute;
        height: 12px;
        top: -3px;
        left: 1px;
    }

    .dashboard .Administrator {
        background: var(--color-lighten-gray);
    }

    .user-info h1 {
        font-size: 20px;
        line-height: 1;
    }

    .dashboard .Search {
        background: var(--color-lighten-gray);
    }

    .dashboard .clock {
        top: 28px;
        left: 50px;
        align-items: start;
        gap: 0px;
    }

    .clock .time {
        font-size: 4vw;
        line-height: 1;
    }

    .clock .date {
        font-size: 2.5vw;
    }

    .dashboard .app {
        height: 110px;
    }

    .dashboard .app img {
        width: 55px;
    }
}

@media (max-width:320px){
    .dashboard .Administrator{
        top: 2%;
    }

    .features-list{
        padding: 5px 40px;
    }

    .features-list ul li{
        margin: 6px;
    }
}


/* ****************** This CSS for Login page *********************** */

.login .left-background {
    background-image: url("/images/Wallpaper.png");
    border-top-right-radius: 100px;
}

.login .right-background {
    background-image: url("/images/Wallpaper.png");
    border-top-left-radius: 100px;
}

.login .blur-container {
    width: 700px;
    height: 600px;
    border-radius: 50px;
    background: rgba(217, 217, 217, 0.41);
    box-shadow: var(--box-shadow) inset;
    filter: blur(7px);
    backdrop-filter: blur(2px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login .login-container {
    width: 700px;
    height: 600px;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login .vector-img {
    position: absolute;
    z-index: -1;
}

.login .right-container .userinput {
    padding: 0px 15px;
    width: 289px;
    height: 32px;
    margin-bottom: 20px;
    outline: none;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.16);
    box-shadow: var(--box-shadow);
    color: var(--color-pure-black);
}

.login #login-btn {
    background: var(--color-light-gray);
    color: var(--color-white);
    margin-top: 20px;
}

.cs .userinput::placeholder {
    color: var(--color-pure-black);
}

.cs .login-remember input[type="checkbox"] {
    accent-color: var(--color-dark-yellow);
}


.cs .login-remember input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.1rem;
    width: 12px;
    cursor: pointer;
    position: relative;
    height: 12px;
    border: 1px solid var(--color-pure-black);
    border-radius: 2px;
}

.cs .login-remember input[type="checkbox"]:checked {
    background-color: rgba(217, 217, 217, 0.41);
}

.cs .login-remember input[type="checkbox"]:checked::after {
    content: "✔";
    font-size: 10px;
    position: absolute;
    height: 12px;
    top: -2px;
    left: 1px;
}

@media (max-width: 768px) {

    .login .blur-container,
    .login .login-container {
        width: 90%;
        max-height: 500px;
        border-radius: 20px;
        padding: 20px;
    }

    .login .logo {
        margin-top: 20px;
    }

    .login .user-login {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        padding-left: 0;
    }

    .login .left-container {
        display: none;
    }

    .login .right-container {
        width: 100%;
        padding: 10px;
    }

    .login .right-container .userinput {
        width: 100%;
    }

    .login #login-btn {
        width: 100%;
    }

    .login .login-remember{
        width: 100%;
    }
}

@media (max-width: 480px) {

    .login .blur-container,
    .login .login-container {
        width: 100%;
    }

    .login .left-container {
        margin-bottom: 20px;
    }

    .login .right-container .userinput {
        height: 40px;
    }

    .cs input[type="checkbox"]:checked::after {
        content: "\2713";
        font-size: 11px;
        position: absolute;
        height: 12px;
        top: -3px;
        left: 1px;
    }

}



/* ********************** This CSS for LightApp Page ***************************** */

.lightapp .all-tab {
    background: var(--color-light-gray);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}


.lightapp .lightapp-btn {
    background: var(--color-light-gray);
    color: var(--color-dark-yellow);
}

.lightapp .modal-heading {
    font-size: 16px;
    color: var(--color-pure-black);
}

.lightapp .small-container {
    width: 187px;
    height: 227px;
    border: 1px solid var(--border-light-gray);
    background-color: var(--bg-light-gray);
    border-radius: 11px;
}

.lightapp .small-container .img-container {
    width: 70px;
    height: 70px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}

.lightapp .small-container #dropdown {
    z-index: 99999;
}

/* Edit Modal */

.lightapp #Edit-modal .img-container {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
}

.lightapp .add-btn {
    color: var(--color-dark-yellow);
}

.lightapp #All {
    color: var(--color-dark-yellow);
}

/* Dropdown menu and button */

.lightapp .dropdown-menu {
    border: 1px solid #686868;
}

.lightapp .dropdown-button {
    border-radius: 5px;
    background: var(--color-light-gray);
}


/* For Internet Explorer 10-11 */
.lightapp input:-ms-input-placeholder {
    color: var(--color-gray-2);
    font-weight: 300;
}

/* For Microsoft Edge */
.lightapp input::-ms-input-placeholder {
    color: var(--color-gray-2);
    font-weight: 300;
}

/* Checkbox css */

.ms input[type="checkbox"] {
    accent-color: var(--color-dark-yellow);
}


.ms input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.1rem;
    width: 16px;
    cursor: pointer;
    position: relative;
    height: 16px;
    border: none;
    border: 2px solid var(--color-dark-yellow);
    border-radius: 2px;
}

.ms input[type="checkbox"]:checked {
    background-color: var(--color-white);
}

.ms input[type="checkbox"]:checked::after {
    content: "✔";
    font-size: 12px;
    position: absolute;
    height: 12px;
    top: -2px;
    left: 2px;
}

/* Responsive css */

@media (max-width:320px) {
    .ms h4 {
        font-size: 11px;
    }


}

@media (max-width:480px) {
    .lightapp .small-container {
        width: 150px;
        height: 200px;
    }


    .ms input[type="checkbox"]:checked::after {
        content: "\2713";
        font-size: 11px;
        height: 12px;
        top: -2px;
        left: 2px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

}

@media (max-width:835px) {
    .lightapp .small-container {
        width: 168px;
        height: 210px;
    }

}


/* ************************ This CSS for Plugin Page ****************************** */

.plugin .all-tab {
    background: var(--color-light-gray);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

/* Css for Apps */
.plugin .small-container {
    width: 187px;
    height: 227px;
    border: 1px solid var(--border-light-gray);
    background-color: var(--bg-light-gray);
    border-radius: 11px;
}

.plugin .small-container .img-container {
    width: 70px;
    height: 70px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}


.plugin #All {
    color: var(--color-dark-yellow);
}

.plugin .dropdown-button {
    border-radius: 5px;
    background: var(--color-light-gray);
}

.plugin .dropdown-menu {
    border: 1px solid var(--border-light-gray);
}

.plugin .plugin-modal {
    max-width: 1016px;
    height: 600px;
    border-radius: 20px;
}

.plugin .modal-container {
    width: 220px;
    height: 400px;
    border-radius: 11px;
    border: 1px solid var(--border-light-gray);
}

@media (max-width:480px) {
    .plugin .small-container {
        width: 150px;
        height: 200px;
    }
}

@media (max-width:835px) {
    .plugin .small-container {
        width: 168px;
        height: 210px;
    }
}


/* ************************ This CSS for Storage File Backup Page ***************************** */

@media (max-width:320px) {
    .backup .label {
        font-size: 12px;
    }

    .backup .radio-button span {
        width: 20px;
        font-size: 11px;
    }

    .backup .radio-circle .text {
        font-size: 12px;
    }
}




/* ************************ This CSS for System Setting Role Page ****************************** */

.role .title-btn {
    background-color: var(--color-dark-yellow);
}

.role hr {
    border: 1px solid var(--color-light-white);
}

.role .checkbox-container {
    background-color: var(--color-lighten-gray);
    border: 1px solid var(--border-light-gray);
}

.role #modal {
    z-index: 999;
}

/* input and textarea Css */

.role .add input,
.role textarea {
    border: 1px solid var(--border-light-gray);
}

.role .edit input,
.role textarea {
    border: 1px solid var(--border-light-gray);
}

.role .addModal,
.role .editModal {
    max-width: 832px;
}

.role input::placeholder {
    color: var(--color-gray-2);
    font-weight: 300;
}

/* For Internet Explorer 10-11 */
.role input:-ms-input-placeholder {
    color: var(--color-gray-2);
    font-weight: 300;
}

/* For Microsoft Edge */
.role input::-ms-input-placeholder {
    color: var(--color-gray-2);
    font-weight: 300;
}

/* Checkbox css */

.role input[type="checkbox"].d-checkbox {
    accent-color: var(--color-dark-yellow);
}


.role input[type="checkbox"].d-checkbox {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.1rem;
    width: 16px;
    cursor: pointer;
    position: relative;
    height: 16px;
    border: 2px solid var(--color-dark-yellow);
    border-radius: 2px;
}

.role input[type="checkbox"].d-checkbox:checked {
    background-color: var(--color-white);
}

.role input[type="checkbox"].d-checkbox:checked::after {
    content: "\2714";
    font-size: 12px;
    position: absolute;
    height: 12px;
    top: -2px;
    left: 2px;
}

@media (max-width:480px) {
    .role input[type="checkbox"].d-checkbox:checked::after {
        content: "\2713";
        font-size: 12px;
        position: absolute;
        height: 12px;
        top: -3px;
        left: 1px;
    }
}


/* ********************* This CSS for Help Page ***************************** */

.help .username {
    text-decoration-color: var(--color-dark-yellow);
}

.help .submit-btn {
    border-radius: 30px;
    background-color: var(--color-light-gray);
}


/* ********************** This CSS for Account Page ******************************* */

.account .enabled-input {
    width: 100%;
    max-width: 494px;
    height: 38px;
    border-radius: 11px;
    border: 1px solid var(--border-light-gray);
    background: var(--color-lighten-gray);
    padding: 0 10px;
}

.account .bg-edit-mode {
    border-radius: 5px;
    background: #efefef;
    padding: 5px;
    margin: 10px 0;
}

.account .input-div {
    width: 100%;
    max-width: 494px;
    height: 38px;
    border-radius: 11px;
    background: var(--color-lighten-gray);
    border: 1px solid var(--border-light-gray);
    overflow: hidden;
}

.account .input-div input {
    width: 90%;
    height: 100%;
    padding: 0 10px;
    background: var(--color-lighten-gray);
}

.account .wallpapers {
    display: grid;
    grid-template-columns: repeat(auto-fit, 13rem);
    justify-content: start;
    gap: 35px;
}

.account #add-div {
    max-width: 196px;
    height: 136px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

.account .wallpaper-div {
    max-width: 196px;
    height: 136px;
    border-radius: 20px;
}

@media (max-width:480px) {
    .account .enabled-input {
        height: 30px;

    }

    .account .input-div {
        height: 30px;
    }

    .account .input-div input {
        width: 83%;
    }
}

@media (min-width: 320px) {
    .account .wallpapers {
        justify-content: center;
    }
}

@media (min-width: 600px) {
    .account .wallpapers {
        justify-content: center;
        gap: 40px;
    }
}

@media (min-width: 1000px) {
    .account .wallpapers {
        justify-content: center;
        gap: 25px;
    }
}

@media (min-width: 1281px) {
    .account .wallpapers {
        justify-content: start;
        gap: 37px;
    }
}

/* *********************** Shared by Adil Basic page Css *************************** */

.bg-c-div-gray {
    background-color: #ededed;
}

.br-c-amber {
    background-color: #FEF3C7;
}

.cs input[type="checkbox"].d-checkbox {
    accent-color: var(--color-dark-yellow);
}

.cs input[type="checkbox"].d-checkbox {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.1rem;
    width: 16px;
    cursor: pointer;
    position: relative;
    height: 16px;
    border: 2px solid var(--color-dark-yellow);
    border-radius: 2px;
}

.cs input[type="checkbox"].d-checkbox:checked {
    background-color: var(--color-white);
}

.cs input[type="checkbox"].d-checkbox:checked::after {
    content: "✔";
    font-size: 12px;
    position: absolute;
    height: 12px;
    top: -2px;
    left: 2px;
}

@media (max-width:480px) {
    .cs input[type="checkbox"].d-checkbox:checked::after {
        content: "\2713";
        font-size: 12px;
        position: absolute;
        height: 12px;
        top: -3px;
        left: 2px;
    }
}

@media (max-width: 375px) {
    .flex-col {
        flex-direction: column;
    }

    .w-full {
        width: 100%;
    }

    .mt-1 {
        margin-top: 0.25rem;
    }

    .md\:mt-0 {
        margin-top: 0;
    }

    .md\:ml-2 {
        margin-left: 0;
    }
}

.hidden {
    display: none;
}