.bg-c-black {
    background: var(--color-light-gray);
}
.bg-c-yellow {
    background: var(--color-dark-yellow);
}
.bg-c-light-black {
    background: var(--color-light-black);
}
.bg-c-gray-2 {
    background: var(--color-gray-2);
}
.bg-c-dark-gray {
    background: var(--color-dark-gray);
}
.bg-c-light-white {
    background: var(--color-light-white);
}
.text-c-black {
    color: var(--color-light-gray);
}
.text-c-yellow {
    color: var(--color-dark-yellow);
}
.text-c-light-black{
    color: var(--color-light-black);
}
.text-c-gray-2 {
    color: var(--color-gray-2);
}
.text-c-dark-gray {
    color: var(--color-dark-gray);
}
.text-c-light-white {
    color: var(--color-light-white);
}
.hover-text-c-yellow:hover {
    color: var(--color-dark-yellow);
}
.hover-bg-c-black:hover {
    background: var(--color-light-gray);
}
.hover-bg-c-yellow:hover {
    background: var(--color-dark-yellow);
}

.bg-light-pink {
    background: var(--color-light-pink);
}

body.nx {
    overflow-x: hidden;
}

.nx .main {
    background: url('/images/main-bg.png');
    background-size: cover;
    background-position: center;
    overflow: scroll;
}

@media (width > 768px){
    .nx .main {
        max-height: calc(100vh - 66px);
    }
}

.nx .taskbar {
background: radial-gradient(circle,
            rgba(255, 228, 63, 1) 0%,
            rgba(253, 224, 50, 1) 35%,
            rgba(246, 190, 49, 1) 80%);
}

.nx footer {
    background: url('/images/footer-bg.png');
    background-size: cover;
    background-position: center;
}

.nx div[role="dialog"] {
    padding: 20px 10px;
}
.nx div[role="dialog"] .modal-content {
    max-height: 90vh;
    overflow: scroll;
}

.nx div[role="dialog"] .modal-content::-webkit-scrollbar,
.nx .main::-webkit-scrollbar,
.nx-table-container::-webkit-scrollbar,
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

@media (width < 768px) {
    .nx-table-container {
        overflow-y: scroll;
    }
.nx-table-container table {
    min-width: 1000px;
}
}
.nx .main .content {
    min-width: 360px;
}

.nx .toggle-bg {
    background: var(--color-dark-gray);
}
.nx .toggle-switch input:checked~.dot {
    transform: translateX(130%);
}
.nx .toggle-switch input:checked~ .toggle-bg{
    background: var(--color-dark-yellow);
}
.nx .dropdown-option {
    display: none;
}
.nx .dropdown-btn:focus ~ .dropdown-option,
.dropdown-option:hover {
    display: block;
}

.nx .radio-button input {
    display: none;
}
.nx .radio-button span {
    width: 80px;
}
.nx .radio-button input:checked ~ span {
    background: #FFD700;
    color: #000;
}

/* file specific */

.nx #tab-holder {
	position: relative;
}
.nx #tab-holder .tab-content {
    padding-bottom: 1rem;
}
.nx #tab-holder input.tab-manager[type="radio"] {
    position: absolute;
    left: -100%;
    top: -100%;
    height: 0;
    display: none;
}
.nx #tab-holder input.tab-manager[type="radio"] + div.content-holder > label.tab-label {
    float: left;
    margin-right: 1rem;
    cursor: pointer;
}
.nx #tab-holder input.tab-manager[type="radio"] + div.content-holder > div.tab-content {
	position: absolute;
    width: 100%;
	display: none;
}
.nx #tab-holder input.tab-manager[type="radio"]:checked + div.content-holder > div.tab-content {
	display: block;
}
.nx #tab-holder input.tab-manager[type="radio"]:checked + div.content-holder > label.tab-label {
	border-bottom: 2px solid var(--color-dark-yellow);
}

.nx #tab-holder .tab-content form input[type="checkbox"]:checked + label {
    background: var(--color-dark-yellow);
    color: var(--color-light-gray);
}


/*multiple select -  css override*/
.ui.selection.dropdown {
    border-radius: 7px !important;
}
.ui.label{
    background-color: #fff !important;
    border-radius: 10px !important;
}

/* js tab controlled */
.tab-control {
    border-bottom: 2px solid transparent;
}
.tab-control.active {
    border-color: var(--color-dark-yellow);
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}